        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
           
		   <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="../static/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                {{user}}
          </span>
                    <a href="/edit" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
                </div>
            </div>

			
            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="/index" class="active">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
              
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i>
                        服务器状态
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="/cpu">
                                <span class="am-icon-angle-right
                                sidebar-nav-link-logo"></span> CPU
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="/net_io">
                                <span class="am-icon-angle-right
                                sidebar-nav-link-logo"></span> NET
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="/process">
                                <span class="am-icon-angle-right
                                sidebar-nav-link-logo"></span> PROCESS
                            </a>
                        </li>
                        
                        <li class="sidebar-nav-link">
                            <a href="/disk">
                                <span class="am-icon-angle-right
                                sidebar-nav-link-logo"></span> DISK
                            </a>
                        </li>

                    </ul>
                </li>
				
                <li class="sidebar-nav-link">
                    <a href="/register">
                        <i class="am-icon-clone sidebar-nav-link-logo"></i> 注册
                        <span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm">6</span>
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/login">
                        <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/404">
                        <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
                    </a>
                </li>

            </ul>
        </div>

